[submodule "go2_webrtc_connect"]
	path = go2_webrtc_connect
	url = https://github.com/legion1581/go2_webrtc_connect.git
[submodule "unitree_sdk2_python"]
	path = unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python.git
